*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Helvetica;
    src: url(/fonts/Helvetica.ttf);
}

@font-face{
    font-family: HelveticaLight;
    src: url(/fonts/helvetica-light.ttf)
}


.globalContainer{
    
    background-color: #f0f2f5;
    height: 720px;

}

body{
    line-height: 1.34;
}

.boxOuter{
    display: flex;
    flex-wrap: wrap;
    background-color: lightpink;
    margin-top: 20px;
    height: 536px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box1{
    background-color: red;
    height: 20vh;
    width: 50vh;
    margin-right: 15vw;
    margin-left: 15vw;
    
}
.heading{
    /* margin-top: -3vh; */
    background-color: orange;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2vh;
    margin-top: -2vh;
    width: 55vh;
    font-weight: 400;
}


.box1 img{
    height: 106px;
    width: 301px;
    margin-top: -3vh;
    margin-left: -3.5vh;
}

.box2{
    background-color: green;
    height: 496px;
    width: 396px;
    
}

.logInBox{
    margin: 40px 0 0;
    padding: 20px 0 28px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    width: 396px;
    height: 349px;
}

.form{
    text-align: center;
}

.email{
    display: inline-block;
    /* background-color: grey; */
    caret-color: #1877f2;
    width: 364px;
    height: 51.6px;
    margin: auto;
    padding-top: 6px;
    padding-bottom: 6px;
}

.emailBox{
    width: 330px;
    color:#1d2129 ;
    font-size: 17px;
    caret-color: #1877f2;
    outline-color:#1877f2; 
    box-shadow: 0 0 ;
    /*#e7f3ff*/
    padding: 14px 16px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
}

.passwordContainer{
    display: inline-block;
    width: 364px;
    height: 51.6px;
    margin: auto;
    padding-top: 6px;
    padding-bottom: 6px;
}

.passwordBox{
    width: 330px;
    caret-color: #1877f2;
    border: 1px solid #dddfe2;
    padding: 14px 16px;
    font-size: 17px;
    border-radius: 6px;
}

.footer{
    border: 4px solid red;
    background-color: #fff;
    height: 20vh;
    width: 100%;
    
}

@media only screen and (max-width: 900px){
    
    .box1{
        text-align: center;
    }

    .heading{
        margin-top: 0.5vh;
        width: auto;
        font-size: 1.5vh;
    }
}