*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Helvetica;
    src: url(/fonts/Helvetica.ttf);
}

@font-face{
    font-family: HelveticaLight;
    src: url(/fonts/helvetica-light.ttf)
}


.globalContainer{
    
    background-color: #f0f2f5;
    width: 100%;
    height: 720px;
    padding: 60px;

}
.boxOuter{
   
    /* background-color: lightpink; */
    width: 980px;
    height: 536px;
    margin-right: auto;
    margin-left: auto;

}

.box1{
    box-sizing: border-box;
    display: inline-block;
    /* background-color: red; */
    /* margin-left: 200px; */

    height: 265px;
    width: 580px;    
}
.heading{
    /* margin-top: -3vh; */
    /* background-color: orange; */
    font-family: HelveticaLight, Arial, sans-serif;
    font-size: 18px;
    line-height: 32px;
    width: 500px;
    font-weight: 400;
    text-align: left;
    margin-top: 30px;
}

.logo{
    width: 548px;
    height: 181px;
    margin-bottom: 20px;
    margin-left: -28px;
}
.box1 img{
    padding: 112px 0 16px;
    height: 106px;
    width: 301px;
    
}

.box2{
    display: inline-block;
    box-sizing: border-box;
    vertical-align:top;
    /* background-color: green; */
    height: 496px;
    width: 396px;
    
}

.logInBox{
    margin: 40px 0 0;
    padding: 20px 0 28px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    width: 396px;
    height: 310px;
}

.form{
    text-align: center;
}

.email{
    display: inline-block;
    /* background-color: grey; */
 
    width: 364px;
    height: 51.6px;
    margin: auto;
    padding-top: 6px;
    padding-bottom: 6px;
}

.emailBox{
    width: 330px;
    color:#1d2129 ;
    font-size: 17px;
    caret-color: #1877f2;
    outline-color:#1877f2; 
    padding: 14px 16px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
}

.passwordContainer{
    display: inline-block;
    width: 364px;
    height: 51.6px;
    margin: auto;
    padding-top: 6px;
    padding-bottom: 6px;
}

.passwordBox{
    width: 330px;
    caret-color: #1877f2;
    outline-color:#1877f2; 
    border: 1px solid #dddfe2;
    padding: 14px 16px;
    font-size: 17px;
    border-radius: 6px;
}

.button{
    width: 364px;
    margin: auto;
    padding-top: 6px;
    /* padding: 14px 16px; */
}

.button button:hover{
    background-color: #166fe5;
}

.button button:active{
    background-color: grey;
    box-shadow: 0px 0px 0px 3px rgb(99, 97, 97);
}

.logInButton{
    width: 364px;
    padding: 14px 16px;
    cursor: pointer;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 1100;
    background-color: #1877f2;
    color: white;
    text-align: center;
    border: none;
    border-radius: 6px;
}

.forgotPass{
    margin-top: 12px;
}

.forgotPass a{
    color: #1877f2;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}

.forgotPass a:hover{
    text-decoration: underline;
}   

.line{
    background-color: #dadde1;
    height: 0.4px;
    width: 364px;
    margin: 24px auto;
    
}

.newAccount{
    width: 396px;
    height: 54px;
    margin-top: 12px;
}

.newAccount button{
    height: 48px;
    padding: 14px 16px;
    font-size: 18px;
    background-color: #3fb227;
    color: #fcfefe;
    border: none;
    border-radius: 6px;
    font-family: Helvetica, Arial, sans-serif;
}

.newAccount button:hover{
    background-color: #36a420;
}

.newAccount button:active{
    background-color: lightgreen;
}

#createPage{
    width: 396px;
    height: 20px;
    /* background-color: beige; */
    font-size: 14px;
    font-weight: lighter;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    margin-top: 20px;

}

#createPage a{
    color: #1d2129;
    font-weight: bold;
    text-decoration: none;
}

#createPage a:hover{
    text-decoration: underline;
}

.footer{
    /* border: 4px solid red; */
    background-color: #fff;
    padding-top: 20px;
    height: 156px;
    width: 100%;
    
} 

#pageFooter{
    box-sizing: border-box;
    /* background-color: skyblue; */
    height: 136.733px;
    width: 980px;
    margin: 0 auto;
}

.lang{
    
    padding: 8px 0 0;
    display: flex;
    height: 19.6px;
    flex-flow: row wrap;
    
}

.lang ul{
    margin-left: -10px;
}

.lang ul li{
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    list-style-type: none;
    font-size: 13px;
    padding-left: 10px;
}



.lang ul a{
    color: #808080;
    text-decoration: none; 
}

.lang ul a:hover{
    text-decoration: underline; 
}

.lang ul a:active{
    color: #949494;
}

.contentCurve{
    border-bottom: 1px solid #dddfe2;
    height: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
    display: block;
}

#pageFooterChildren{
    height: 57.6px;
    
}

#pageFooterChildren ul{
    list-style-type: none;
    margin-left: -20px;
}

#pageFooterChildren ul li{
    display: inline-block;
    font-size: 12px;
    margin-left: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

#pageFooterChildren ul li a{
    color: #808080;
    text-decoration: none;
}

#pageFooterChildren ul a:hover{
    text-decoration: underline; 
}

#pageFooterChildren ul a:active{
    color: #949494;
}

#credit{
    display: block;
    margin: 16px 0 0;
}

#credit p{
    font-size: 18px;
    vertical-align: middle;
    
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

#credit p a{
    
    text-decoration: none;
    color: #656a70;
}

#credit p a:hover{
    text-decoration: underline;
}

#credit p a:visited{
    color: #656a70;
}

@media only screen and (max-width: 1100px){
    
    .boxOuter{
        width: 100%;
    }

    .box1{
        width: 400px;
        margin-right: 32px;
        
    }

    .box2{
        vertical-align: right;
        float: right;
    }
    
    .heading{
        font-size: 16px;
        width: 400px;
    }
}

@media only screen and (max-width: 948px){
    
    .boxOuter{
        display: flex;
        float: none;
        flex-wrap: wrap;
        margin-right: 0 40px;
    }
    .box1{
        text-align: center;
        margin: auto;
        width: 400px;
        height: 130px;
       
    }

    .box1 img{
        margin-right: -40px;
        padding: 0;
    }

    .heading{
        text-align: center;
        font-size: 16px;
        line-height: 25px;
        
    }

    .logo{
        width: 400px;
        height: 73.65px;
    }

    .box2{
        margin: auto;
    }

    #pageFooter{
        margin: 0 40px;
        width:auto;
    }
}

@media only screen and (max-width: 800px){
    .footer{
        padding-top: 20px;
        height: 155px;
    }
}

@media only screen and (max-width: 720px){
    #pageFooter{
        height: 155.933px;
        width: auto;
        margin: 0 40px;
    }
    #pageFooterChildren{
        height: 76.8px;
    }
}

@media only screen and (max-width: 620px){
    .footer{
        height: 211px;
    }
}

@media only screen and (max-width: 575px){
    #pageFooterChildren{
        display: none;
    }
}
@media only screen and (max-width: 535px){
    #pageFooter{
        height: 191.217px;
        width: auto;
        margin: 0 40px;
    }
    .lang{
        height: 35.6px;
    }
    
}


@media only screen and (max-width: 450px){
        .footer{
            margin-left: 60px;
        }
}